.footer_cont{
height: 200px;
width: 400px;
background-color: r;
}
.middlepage{
    width: 100%;
    height: 500px;
    background-color: blueviolet;
}

.block{
    width: 900%;
    height: 300px;
    background-color: red;
}
.blockmine{
    width: 200px;
    height: 200px;
    background-color: tomato;
    border-radius: 100px;
}
